html,body{
    width: 100%;
    height:100%;
}
body{
    background-color: #f4f4f4!important;
    font-size: .8rem!important;
    padding-top: constant(safe-area-inset-top);   /*为导航栏+状态栏的高度 88px*/
    padding-left: constant(safe-area-inset-left);   /*如果未竖屏时为0*/
    padding-right: constant(safe-area-inset-right); /*如果未竖屏时为0*/
    padding-bottom: constant(safe-area-inset-bottom);/*为底下圆弧的高度 34px*/
}

input[type='date']::-webkit-calendar-picker-indicator{
    opacity: 0;
}
input[type='date']::-webkit-clear-button{
    -webkit-appearance: none;
    appearance: none;
}
input[type='date']:after{
    font-family: 'iconfont';
    content: '\e62b';
    color: #ced4da;
    padding-right: .25rem;
}
.btn-link:hover{
    text-decoration: none!important;
}
.btn-link.focus, .btn-link:focus{
    text-decoration: none!important;
}
.bt-dashed{
    border-top: 1px dashed #ced4da;
}
.bt-solid{
    border-top: 1px solid #ced4da;
}
.bl-solid{
    border-left: 1px solid #ced4da;
}
.bb-solid{
    border-bottom: 1px solid #ced4da;
}
.bg-light-gary{
    background-color: #c0c0c0!important;
}
.overflow-hidden{
    overflow: hidden;
}
header{
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
}
.content-back::before{
    content: '';
    width: 100%;
    height: 4.8rem;
    background-color: #c60c1b ;
    position: absolute;
    top:0;
    left:0;
}
.form-group{
    margin-bottom: .5rem;
}
.reset-select{
    font-size: .8rem!important;
    background-color: #fbfbfb;
    height: 1.6rem!important;
}
.reset-btn{
    background-color: #f1f1f1;
}
.input-money>span{
    position: absolute;
    top: 0;
    right: 0;
    margin: .25rem;
}
.showContent .list-group-item,.showContent-detail .list-group-item{
    border: 1px dashed rgba(0,0,0,.125);
}
.showContent .list-group-item:last-child{
    border:0;
}
.showContent-detail .list-group-item:last-child{
    border-width: 0 0 2px 0;
    border-style: dashed;
    border-color: rgba(0,0,0,.125);
}
.agreed{
    margin-left: -.5rem;
}
.agreed input[type='checkbox']{
    opacity: 0;
    width: 100%;
    position: absolute;
}
.agreed label:before{
    font-family: iconfont;
    font-size: 1rem;
    font-weight: bold;
    content: '\e6ae';
    color: #c60c1b;
    position: absolute;
    top:0;
    left: 0;
}
.agreed input[type='checkbox']:checked+label:after{
    position: absolute;
    font-family: 'iconfont';
    font-size: 1rem;
    content: '\e626';
    color: #c60c1b;
    top:0;
    left: 0;

}
/*弹框*/
.modal-header{
    justify-content: center;
}
/*
我的贷款*/
.text-light-gary{
    color: #787878;
}
.my-agreed{
    font-size: 1rem;
}
.my-agreed label:before,.my-agreed input[type='checkbox']:checked+label:after{font-size: 1.2rem;}
/*tab*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color:#c60c1b!important;
    background-color: transparent;
    border-bottom: 1px solid #c60c1b;
    border-radius: 0;
}
.nav-pills .nav-link.active:after, .nav-pills .show>.nav-link:after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #c60c1b;
    content: "";
    position: relative;
    width: 0;
    bottom: -.25rem;
    left: -2.8rem;
}
.bg-image{
    background: url("../images/bg-image.png") repeat-y;
    background-size: 100%;
    background-position: center center;
}
